/* SilvaForum CSS */
/*_________________________________ FORUM LIST STYLES __________*/
.forum-content-table {
  border: 1px solid gray;
  background-color: #afc3d7;
  width: 100%;
}

.thead {
  background-color: #b0c4d7;
  vertical-align: top;
}


.tr-odd {
  background-color: #dde5ee;
}
.tr-even {
  vertical-align: top;
  background-color: #ccd9e6;
}

th.align-left {
  text-align: left;
}

.author-column, .comment-column {
  width: 6em;
}
.comment-column {
  text-align: right;
}

.permalink {
  float: right;
}

.forum-tr{
  vertical-align: top;
  background-color: #d4dee9;
}

.topic {
  background: #ccd9e6;
  vertical-align: top;
}

.author-name {
  font-weight: bold;
}

.pagination {
  width: 4em;
  font-weight: bold;
}

/*_________________________________ EMOTICON STYLES __________*/
#emoticons {
  height: 1.8em;
  margin: 0 0 0 0;
  padding: 0 0 0 6.2em;
  border: 1px solid gray;
  background-color: #d7e6e6;
}

.emoticon {
  margin: .3em;
  float: left;
}

/*_________________________________ FORM STYLES __________*/
#post-span {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

#text-input {
  margin: .5em 0 0 0;
}

.subject-input {
  width: 100%;
  margin: .5em 0 0 0;
}

.preview {
  background: #EEEEEE;
}
.submit {
  margin: .5em 0 0 0;
}

/*_________________________________ COMMENT STYLES __________*/

#comment {
  background: #ccd9e6;
  padding: 0.2em;
  border: 1px solid;
}

/* ____________________________________________________ form controls _______ */

textarea {
  padding: 0.1em;
  border: 1px solid #599;
  color: #337;
  background: #E8F7EF;
}

input.store, textarea.store {
  width: 99%;
  !width: 94%; /* IE7 hack */
}

input[type="submit"] {
  border-color: #3850B3;
  color: #3138BA;
}