/* This css extends selectors in Silva's default StandardIssue theme. */

/* ______________ Silva Forum selectors ______________ */
div.forum-user-controls {
  float: right;
  margin-right: 0.15em;
}
/* _______ posting forms _______ */
div.forum-dialog {
  position: relative;
  padding: 0.2em 0.5em 0.5em;
  border: 1px solid #808080;
  display: inline-block;
  margin: 0;
}
input, textarea {
  border: 1px solid #aaa;
}
input.dialog-closer {
  border: none;
}
input[type=text], textarea {
  margin: 0.3em 0;
}
.forum-dialogue input[type=text] {
  width: 140px;
}
input.store, textarea.store {
  width: 98%;
}
#text {
  margin-bottom: 0.1em;
}
input[type=submit] {
  margin: 0.1em 0;
}
input[type=checkbox] {
  margin: 0.2em 0;
}
input.dialog-closer {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}
div#emoticons {
  float: right;
  padding-right: 0.7em;
}
div.field {
  margin-top: 0.5em;
}
div.captcha-field {
  margin-top: 1.2em;
}
div.captcha-field-wrapper {
  margin: 0.2em;
}
div.captcha {
  float: left;
  padding-right: 1em;
}
div.captcha img {
  margin: 0.3em 0;
}
div.forum-submit {
  clear: both;
}
span.feedback, span.form-status {
  margin-bottom: 0.5em;
  padding: 0.25em;
  border: 1px solid #8fc511;
  color: #003448;
  background-color: transparent;
  padding: 0.2em;
  width: 39em;
  display: block;
}
span.feedback.warning, span.form-error, span.field-error {
  border: 1px solid #a00;
  color: #a00;
  background-color: transparent;
  padding: 0.2em;
  display: block;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  width: 38.8em;
}

/* _______ forum content _______ */
div.batchNav {
  text-align: center;
  clear:both;
}
div.batchNav a.current {
  font-weight: bold;
  text-decoration: none;
  color: #7baa0f;
}
.forum-content-table {
  width: 100%;
  margin-top: 0.2em;
}
.forum h2 {
  margin-bottom: 0.2em;
}
.forum h3 {
  margin-top: 0.2em;
  margin-bottom: 0.4em;
  padding: 0.3em 0.5em 0 0;
  color: #808080;
  font-size: 15px;
  font-weight: bold;
  text-transform: none;
}
.forum h3.comment {
  padding-top: 0.7em;
}
.forum h3.author {
  margin-bottom: 0.2em;
}
.forum h3.forum-post, .forum h3.post-subscription {
  color: #3E3E3E;
  font-weight: normal;
  font-size: 13px;
  margin-top: 0;
}
h4 {
  margin: 0 0 0.2em;
  font-size: 16px;
}
h5 {
  margin: 0.2em 0 0;
  font-size: 14px;
}
p {
  margin: 0.2em 0 0.5em;
  text-align:left;
}
.comment-message p {
  margin-top: 0;
  font-size: 13px;
  padding-bottom: 0.5em;
}
p.topic {
  font-size: 13px;
}
p.author {
  margin-top: 0.05em;
  font-size: 11px;
}
div.even, div.odd {
  padding: 0.5em 0.5em 0 0;
  border-top: 1px solid #dedede;
}
#forum-post-dialog {
  margin: 1.5em 0 1em;
}
#forum-post-opener {
  float: left;
  margin: 0.3em 0 0.5em 0.15em;
}
#subscriptions-dialog {
  margin-bottom: 0.7em;
}
#subscriptions-opener {
  float: left;
  margin-bottom: 0.5em;
}

/* form fields */
#form-field-email {
  width: 16em;
}
