/* This css extends selectors in Silva's default StandardIssue theme. */

/* ______________ Silva Forum selectors ______________ */
div.forum h3 {
  margin-top: 0;
}
div.forum-user-controls {
  float: right;
  margin-right: 0.15em;
}
/* _______ posting forms _______ */
div.forum-dialog {
  position: relative;
  padding: 0.5em;
  border: 1px solid gray;
  display: inline-block;
  margin: 0;
}
/* in a table de width of the box should be equal to one not in a table */
table div.forum-dialog {
  margin-right: 0;
  margin-left: 0;
}
input, textarea {
  border: 1px solid #aaa;
}
input.dialog-closer {
  border: none;
}
input[type=text], textarea {
  margin: 0.3em 0;
  padding: 0.1em;
}
.forum-dialogue input[type=text] {
  width: 140px;
}
input.store, textarea.store {
  width: 98%;
}
input[type=submit] {
  margin: 0.1em 0;
}
input[type=checkbox] {
  margin: 0.2em 0;
}
input.dialog-closer {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}
div#emoticons {
  float: right;
  padding-right: 0.7em;
}
div.field {
  margin-top: 0.5em;
}
div.captcha-field {
  margin-top: 1.2em;
}
div.captcha-field-wrapper {
  margin: 0.2em;
}
div.captcha {
  float: left;
  padding-right: 1em;
}
div.captcha img {
  margin: 0.3em 0;
}
div.forum-submit {
  clear: both;
}
div.feedback, p.form-status {
  margin-bottom: 0.5em;
  padding: 0.25em;
  border: 1px solid #8fc511;
  color: #003448;
  background-color: transparent;
  padding: 0.2em;
  width: 97%;
}
div.feedback.warning, div.form-error, span.field-error {
  border: 1px solid #a00;
  color: #a00;
  background-color: transparent;
  padding: 0.2em;
}

/* _______ forum content _______ */
div.batchNav {
  text-align: center;
  clear:both;
}
div.batchNav a.current {
  font-weight: bold;
  text-decoration: none;
  color: #7baa0f;
}
table.forum-content-table {
  width: 100%;
  margin-top: 0.2em;
}
table.forum-content-table tr {
  vertical-align: top;
}
table.forum-content-table th {
  padding: 0.3em 0.5em 0 0;
  color: gray;
  text-align: left;
  font-size: 15px;
}
table.forum-content-table th.comment {
  padding-top: 0.7em;
}
table.forum-content-table td {
  padding: 0;
}
table.forum-content-table tr.even td, table.forum-content-table tr.odd td {
  padding: 0.5em 0.5em 0 0;
  border-top: 1px solid #dedede;
}
table.forum-content-table tr.comment-message td {
  padding-bottom: 0.5em;
}
table.forum-content-table h4 {
  margin: 0.2em 0 0;
  font-size: 16px;
}
table.forum-content-table h5 {
  margin: 0.2em 0 0;
  font-size: 14px;
}
table.forum-content-table p {
  margin: 0.2em 0 0.5em;
  text-align:left;
}
table.forum-content-table tr.comment-message p {
  margin-top: 0;
  font-size: 13px;
}
table.forum-content-table p.topic {
  font-size: 13px;
}
table.forum-content-table p.author {
  margin-top: 0.05em;
  font-size: 11px;
}
#forum-post-dialog {
  margin: 0.3em 0 1em;
}
#forum-post-opener {
  float: left;
  margin: 0.3em 0 0.5em 0.15em;
}
#subscriptions-dialog {
  margin-bottom: 0.7em;
}
#subscriptions-opener {
  float: left;
  margin-bottom: 0.5em;
}

/* form fields */

#form-field-email {
  width: 16em;
}
