/* SilvaForum CSS */
div.forum {
 margin-bottom: 1em;
}

/*___________________________________________ PAGINATION SELECTORS __________*/
table.pagination {
  width: 100%;
  border: 1px solid gray;
  background-color: #cdd9e5;
}
table.pagination tr {
  vertical-align:bottom;
}
table.pagination td.previous {
  width: 25%;
  padding:0 0.3em 0.1em;
  text-align: left;
}
table.pagination td.info {
  width: 50%;
  padding:0 0 0.1em;
  text-align: center;
}
table.pagination td.next {
  width: 25%;
  padding:0 0.3em 0.1em;
  text-align: right;
}
table.pagination a:link {
  text-decoration:none;
}
table.pagination a:visited {
  text-decoration:none;
}
table.pagination a:hover {
  text-decoration:underline;
}

/*________________________________________ FORUM LISTING SELECTORS __________*/
table.forum-content-table {
  border: 1px solid gray;
  background-color: #afc3d7;
  width: 100%;
}

table.forum-content-table thead {
  background-color: #b0c4d7;
}

table.forum-content-table tr {
  vertical-align: top;
}

table.forum-content-table tr.topic {
  background: #ccd9e6;
}

table.forum-content-table tr.preview {
  background: #eaf6ef;
}

table.forum-content-table tr.odd {
  background-color: #d4dee9;
}
table.forum-content-table tr.even {
  background-color: #ccd9e6;
}

table.forum-content-table th, table.forum-content-table td {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

table.forum-content-table th.align-left {
  text-align: left;
}
table.forum-content-table th.align-right {
  text-align: right;
}

table.forum-content-table td.author, table.forum-content-table td.comments {
  width: 6em;
}
table.forum-content-table td.author {
  font-weight: bold;
}
table.forum-content-table td.comments {
  text-align: right;
}

table.forum-content-table h5 {
  margin-top: 0.4em;
}

table.forum-content-table tr.preview h5 {
  margin-top: 0.2em;
}

table.forum-content-table p {
  margin-top: 0.3em;
}

table.forum-content-table p.datetime, table.forum-content-table p.permalink {
  margin-top: 0.4em;
  font-size: 90%;
}

table.forum-content-table p.permalink {
  float: right;
}

/*_____________________________________________ EMOTICON SELECTORS __________*/
#emoticons {
  height: 1.8em;
  margin: 0 0 0 0;
  padding: 0 0 0 6.2em;
  border: 1px solid gray;
  background-color: #d7e6e6;
}

div.forum div.emoticon {
  margin: 0.3em;
  float: left;
}

center {
  border: 1px solid gray;
  padding-top: 0.3em;
}

/*____________________________________________ PERMALINK SELECTORS __________*/
div.forum div#comment {
  background: #ccd9e6;
  padding: 0.2em;
  border: 1px solid gray;
}

/*____________________________________________ FORM SELECTORS _______________*/

div.forum div.submit {
  margin: 0.5em 0 0 0;
}

div.forum input, div.forum textarea {
  padding: 0.1em;
  border: 1px solid #599;
  color: #337;
  background-color: #e8f7ef;
  font-family: verdana,helvetica,arial,sans-serif;
  font-size: 100%;
}

div.forum input.store, textarea.store {
  width: 99%;
  !width: 94%; /* IE7 hack */
}

div.forum input[type="submit"], div.forum input[type="button"] {
  border-color: #3850b3;
  color: #e8f7ef;
  background-color: #455a82;
}
